<header class="site-header">
<meta name="description" content="Боты пробива это уникальные инструменты для поиска информации о человеке по номеру телефона, ФИО, авто, паролю и многим другим параметрам." />
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if titles_size > 0 -%}
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
      
    {%- endif -%}
  </div>
</header>
