---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-footer {
  border-top: 1px solid #404040;
  padding: 15px 0;
}

.footer-heading {
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 30px; 
}

.footer-bottom {
  font-size: 0.9em;
  color: #888;
  text-align: left;
}
