---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.site-footer {
  border-top: 1px solid #404040;
  padding: 15px 0;
}

.footer-heading {
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0;
}

.wrapper {
  padding: 10px 0;
}

.footer-bottom {
  display: flex;
  align-items: center; /* вертикальное центрирование текста */
  height: 100%;        /* занимает всю доступную высоту родителя */
  font-size: 0.9em;
  color: #888;
}
